* {
  margin: 0;
}

body {
  background-image: url("./stargazers.jpg");
  background-color: #e2d7f0;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

h1,
h2 {
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

.btn {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #8252c1;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

form {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}


input {
  background-color: #e2d7f0;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin: auto;
  cursor: text;
}
h2 {
  max-width: 20rem;
  margin: auto;
}

h2,
p {
  margin-top: 4rem;
  color: #8252c1;
  background-color: rgba(226, 215, 240, 0.9);
  padding: 1rem;
  border-radius: 10px;
}

p {
  width: 50ch;
  font-size: 1.2rem;
}

.api-content {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

img {
  max-width: 40rem;
}

@media screen and (max-width: 600px) {
  body {
    background-size: cover;
  }
  .api-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  img {
    max-width: 20rem;
  }

  p {
    width: 30ch;
    margin: 0;
  }
}
